
#nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  text-decoration: none;
}

ul li {
  padding: 10px;
}

ul li a {
  color: black;
}

ul li:hover {
  background-color: rgb(175, 175, 175);
  border-radius: 3px;
  cursor: pointer;
}